flows (4).json
[
    {
        "id": "a2b9fa7ac2cc48f7",
        "type": "tab",
        "label": "CS105b Final",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a01314962d1072b9",
        "type": "ui_button",
        "z": "a2b9fa7ac2cc48f7",
        "name": "IconRefresh",
        "group": "70fb931.dfc146c",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh 4x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1310,
        "y": 280,
        "wires": [
            [
                "5f36bf6adda47875"
            ]
        ]
    },
    {
        "id": "7b236dc4e184929d",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 6,
        "width": 5,
        "height": "1",
        "name": "Description",
        "label": "",
        "format": "{{msg.payload.current.weather[0].description}}",
        "layout": "row-left",
        "className": "",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6a169788908cd13",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 4,
        "width": 3,
        "height": "1",
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}",
        "layout": "col-center",
        "className": "",
        "x": 1290,
        "y": 160,
        "wires": []
    },
    {
        "id": "c355e6da7784ef74",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 200,
        "wires": []
    },
    {
        "id": "884aeecf823fabe1",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "4ff15e6cdfe8a8c8",
        "type": "ui_template",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "name": "Forecast Info",
        "order": 8,
        "width": "10",
        "height": "2",
        "format": "<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: black;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ec2280882e44f5eb",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Format forecast data",
        "func": "var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '째F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '째C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "4ff15e6cdfe8a8c8"
            ]
        ]
    },
    {
        "id": "09b40ed258e67d5f",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 3,
        "width": 2,
        "height": "1",
        "name": "Temperature",
        "label": "",
        "format": "<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>",
        "layout": "row-left",
        "className": "",
        "x": 1310,
        "y": 120,
        "wires": []
    },
    {
        "id": "d0dee15c9d874e1a",
        "type": "http request",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Get OWM data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.openweathermap.org/data/2.5/onecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "6230551a573790ea",
                "ec2280882e44f5eb",
                "bfb9360fc65e758b"
            ]
        ]
    },
    {
        "id": "6230551a573790ea",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Format current data",
        "func": "var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' 째F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' 째C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\n\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "09b40ed258e67d5f",
                "d6a169788908cd13",
                "7b236dc4e184929d",
                "c355e6da7784ef74",
                "884aeecf823fabe1"
            ],
            [
                "a01314962d1072b9"
            ]
        ]
    },
    {
        "id": "f8d27b669f808437",
        "type": "change",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Settings",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "lat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "lon",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.appid",
                "pt": "msg",
                "to": "0db6fa33838afa1241b6964f8cbd1935",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.units",
                "pt": "msg",
                "to": "metric",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lang",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "hour24",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "units",
                "pt": "flow",
                "to": "payload.units",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lang",
                "pt": "flow",
                "to": "payload.lang",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.exclude",
                "pt": "msg",
                "to": "minutely",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "d0dee15c9d874e1a"
            ]
        ]
    },
    {
        "id": "446a41c76dd8aedb",
        "type": "ui_ui_control",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Update tab",
        "events": "all",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "297129d8071c9d85"
            ]
        ]
    },
    {
        "id": "5f36bf6adda47875",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Refresh",
        "mode": "link",
        "links": [
            "b397e77288f03c9e"
        ],
        "x": 1435,
        "y": 280,
        "wires": []
    },
    {
        "id": "b397e77288f03c9e",
        "type": "link in",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "links": [
            "5f36bf6adda47875",
            "da1c49470fb176f5",
            "2ccb749f7f6ee800"
        ],
        "x": 425,
        "y": 300,
        "wires": [
            [
                "f8d27b669f808437"
            ]
        ]
    },
    {
        "id": "297129d8071c9d85",
        "type": "switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Tab focus",
        "property": "tab",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "f8d27b669f808437"
            ]
        ]
    },
    {
        "id": "29aad1065be7e801",
        "type": "ui_button",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Start Watering",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Watering cycle started",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "1c93a6c982c8cdf0"
            ]
        ]
    },
    {
        "id": "68393d027228359a",
        "type": "ui_text_input",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "label": "Set value",
        "tooltip": "",
        "group": "e1ed05e8d05a9e01",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "cb5e314fa47c124d"
            ]
        ]
    },
    {
        "id": "59a1cee734b57f8d",
        "type": "ui_gauge",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#e01b24",
            "#e6e600",
            "#3584e4"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 1280,
        "wires": []
    },
    {
        "id": "40da8a30caee4514",
        "type": "ui_chart",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Soil Humidity Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#986a44",
            "#335684",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "a75709fa2c24ebb4",
        "type": "ui_button",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "e1ed05e8d05a9e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "threshold",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 820,
        "wires": [
            [
                "fe4a5179656902e7",
                "3f9f5ec1f83657b2"
            ]
        ]
    },
    {
        "id": "27869e4121b18610",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "f2c9d6d8312163b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 960,
        "wires": []
    },
    {
        "id": "ba0b84bdf4a93f03",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Status Receiver",
        "func": "status = flow.get(\"status\");\n\nif(status == 1 || status == 3) {\n  msg.payload = \"Watering\";\n} else {\n  msg.payload = \"Idling\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 960,
        "wires": [
            [
                "27869e4121b18610",
                "37b1fe375d91f81d"
            ]
        ]
    },
    {
        "id": "8b5c3031932869f1",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Send to flow",
        "func": "const lat = msg.payload.lat;\nconst lon = msg.payload.lon;\n\nflow.set(\"lat\",lat);\nflow.set(\"lon\",lon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "f8d27b669f808437"
            ]
        ]
    },
    {
        "id": "1fd54523440574df",
        "type": "ui_form",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "label": "Set location",
        "group": "70fb931.dfc146c",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Latitude",
                "value": "lat",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Longtitude",
                "value": "lon",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lat": "",
            "lon": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "8b5c3031932869f1",
                "fae1fd7050094146",
                "52ab3507334ecdcb"
            ]
        ]
    },
    {
        "id": "cb5e314fa47c124d",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Set threshold",
        "func": "flow.set(\"threshold\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f45f40916fb1f584",
        "type": "ui_chart",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Watering Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#335684",
            "#335684",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "9fef0a9d7a854409",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Visual",
        "info": "",
        "x": 130,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a4fc1fd250a997e9",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Watering Status",
        "info": "",
        "x": 160,
        "y": 920,
        "wires": []
    },
    {
        "id": "570a47a908b5f980",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Set Threshold",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "59a4842034e4d0c7",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Weather Forecast",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7221cd525f8de31",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Manual Trigger",
        "info": "",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "fe4a5179656902e7",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "e1ed05e8d05a9e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "480e725e6f8021b7",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Get Watering Status",
        "func": "msg.payload = flow.get(\"status\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "f45f40916fb1f584"
            ]
        ]
    },
    {
        "id": "74dd0cf9805bc12a",
        "type": "link in",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Status",
        "links": [
            "3234b2fec4eeda55"
        ],
        "x": 105,
        "y": 1200,
        "wires": [
            [
                "480e725e6f8021b7"
            ]
        ]
    },
    {
        "id": "fae1fd7050094146",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current latitude",
        "format": "{{msg.payload.lat}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "52ab3507334ecdcb",
        "type": "ui_text",
        "z": "a2b9fa7ac2cc48f7",
        "group": "70fb931.dfc146c",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current longtitude",
        "format": "{{msg.payload.lon}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "bfb9360fc65e758b",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Set forecast string",
        "func": "let forecast = \"\";\n\nif (flow.get(\"outdoor\") == 1) {\n    for (let i = 1; i <= 6; i++) {\n        if (msg.payload.hourly[i].weather[0].main == \"Rain\") {\n            forecast += \"1\";\n        } else {\n            forecast += \"0\";\n        }\n    }\n} else {\n    forecast = \"000000\"\n}\n\nflow.set(\"forecast\", forecast);\n\nmsg.payload.rain = forecast;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 420,
        "wires": [
            [
                "7385e7c104fc1ad6",
                "5fbe989de1c20b72"
            ]
        ]
    },
    {
        "id": "98fa55e5bf99f6bf",
        "type": "ui_switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "label": "Outdoor",
        "tooltip": "Turn on to switch to outdoor mode which take weather forecast into account",
        "group": "70fb931.dfc146c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "ee73b2bc1891aea8"
            ]
        ]
    },
    {
        "id": "ee73b2bc1891aea8",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Set mode",
        "func": "if (msg.payload == true) {\n    flow.set(\"outdoor\", 1);\n} else {\n    flow.set(\"outdoor\", 0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "da1c49470fb176f5"
            ]
        ]
    },
    {
        "id": "46891eefb75674ca",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "README",
        "info": "If outdoor then weather forecast will be taking into account when deciding to activate watering system.\nElse forecast will be set to \"000000\".",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c93a6c982c8cdf0",
        "type": "switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Check watering status",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "d4e87cc7313441a8"
            ],
            [
                "be5be124b3fb3429"
            ],
            [
                "8f9e4f5ff859b1b3"
            ],
            [
                "c67f551579a53baf"
            ]
        ]
    },
    {
        "id": "242bca8c52181d2f",
        "type": "ui_button",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop Watering",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Watering cycle stopped",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "765f36420987d52c"
            ]
        ]
    },
    {
        "id": "16bab87c7c983ae0",
        "type": "ui_toast",
        "z": "a2b9fa7ac2cc48f7",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notice",
        "x": 870,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9e4f5ff859b1b3",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Idling",
        "func": "msg.payload = \"Watering cycle started\";\nflow.set(\"status\", 3);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 560,
        "wires": [
            [
                "16bab87c7c983ae0",
                "eabee56dba8a43c3"
            ]
        ]
    },
    {
        "id": "c67f551579a53baf",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Watering",
        "func": "msg.payload = \"A watering cycle is already in progress\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "16bab87c7c983ae0"
            ]
        ]
    },
    {
        "id": "765f36420987d52c",
        "type": "switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Check watering status",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "4cfe4012f40ca5c2"
            ],
            [
                "175bf44dbee86d49"
            ],
            [
                "6831f50ddac96d4d"
            ],
            [
                "ee3d0f945c313454"
            ]
        ]
    },
    {
        "id": "6831f50ddac96d4d",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Idling",
        "func": "msg.payload = \"No watering cycle in progress\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "16bab87c7c983ae0"
            ]
        ]
    },
    {
        "id": "ee3d0f945c313454",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Watering",
        "func": "msg.payload = \"Watering cycle stopped\";\n\nflow.set(\"status\", 2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 780,
        "wires": [
            [
                "16bab87c7c983ae0",
                "eabee56dba8a43c3"
            ]
        ]
    },
    {
        "id": "3234b2fec4eeda55",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Manual Trigger",
        "mode": "link",
        "links": [
            "ac099b9c6c8d62cf",
            "9a6e217d51abd2ef",
            "74dd0cf9805bc12a"
        ],
        "x": 1185,
        "y": 740,
        "wires": []
    },
    {
        "id": "eabee56dba8a43c3",
        "type": "switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Switch state",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auto watering cycle stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Auto watering cycle started",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Watering cycle stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Watering cycle started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 870,
        "y": 700,
        "wires": [
            [
                "1a1c32e48269dbdb"
            ],
            [
                "7ea8777e58e1198a"
            ],
            [
                "2de25efec052e17c"
            ],
            [
                "31d202438189c9ef"
            ]
        ]
    },
    {
        "id": "2de25efec052e17c",
        "type": "change",
        "z": "a2b9fa7ac2cc48f7",
        "name": "stopped",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "3234b2fec4eeda55"
            ]
        ]
    },
    {
        "id": "31d202438189c9ef",
        "type": "change",
        "z": "a2b9fa7ac2cc48f7",
        "name": "started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "3234b2fec4eeda55"
            ]
        ]
    },
    {
        "id": "371a3ef55a5895ac",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "ESP32",
        "info": "",
        "x": 130,
        "y": 1480,
        "wires": []
    },
    {
        "id": "cf208f23cb46e428",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Receive incoming requests",
        "info": "",
        "x": 190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0488d910e74e5d39",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Send data to ESP",
        "info": "",
        "x": 170,
        "y": 1740,
        "wires": []
    },
    {
        "id": "619fe728f6083047",
        "type": "inject",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Receiving",
        "props": [
            {
                "p": "payload.data",
                "v": "006270500",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 140,
        "y": 1580,
        "wires": [
            [
                "3743cec558fdeabd"
            ]
        ]
    },
    {
        "id": "9ec498aca8587f34",
        "type": "inject",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Sending",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1820,
        "wires": [
            [
                "880a8965e8ba72fe"
            ]
        ]
    },
    {
        "id": "3ba5727a339e7771",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Sender",
        "func": "msg.payload = flow.get(\"send\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1780,
        "wires": [
            [
                "21dc73383e88e8b1"
            ]
        ]
    },
    {
        "id": "f1a75ce3bf5e21cd",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Receiver",
        "func": "// Format: [Status:1][Moisture:4][Threshold:4]\n\nflow.set(\"receive\", msg.payload.data);\n\nmsg.payload = msg.payload.data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1580,
        "wires": [
            [
                "85142da3032ea537",
                "a28fd4947ffdd2f1"
            ]
        ]
    },
    {
        "id": "dd1e4832ab68e8cb",
        "type": "debug",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1820,
        "wires": []
    },
    {
        "id": "576ea4ac1769a623",
        "type": "debug",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1600,
        "wires": []
    },
    {
        "id": "21dc73383e88e8b1",
        "type": "http response",
        "z": "a2b9fa7ac2cc48f7",
        "d": true,
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1200,
        "y": 1780,
        "wires": []
    },
    {
        "id": "85142da3032ea537",
        "type": "http response",
        "z": "a2b9fa7ac2cc48f7",
        "d": true,
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 1540,
        "wires": []
    },
    {
        "id": "880a8965e8ba72fe",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Data Encoder",
        "func": "// Format: [Year:2][Month:2][Day:2][Hour:2][Min:2][Sec:2][Status:1][Moisture:4][Threshold:4][Forecast:6]   \n\nconst isoStr = new Date().toLocaleString('en-GB', { timeZone: 'Asia/Singapore' });\n\nlet encoded = \"\";\n\nlet time = isoStr[8] + isoStr[9] +      // year\n            isoStr[3] + isoStr[4] +     // month\n            isoStr[0] + isoStr[1] +     // day\n            isoStr[12] + isoStr[13] +   // hour\n            isoStr[15] + isoStr[16] +   // min\n            isoStr[18] + isoStr[19];    // sec\n\nlet status = flow.get(\"status\");\n\nlet moistVal = flow.get(\"moist\");\nlet moist = \"\";\nif (moistVal < 1000) {\n    moist += 0;\n    if (moistVal < 100) {\n        moist += 0;\n        if (moistVal < 10) {\n            moist += 0;\n        }\n    }\n}\nmoist += moistVal;\n\nlet thresVal = flow.get(\"threshold\");\nlet threshold = \"\";\nif (thresVal < 1000) {\n    threshold += 0;\n    if (thresVal < 100) {\n        threshold += 0;\n        if (thresVal < 10) {\n            threshold += 0;\n        }\n    }\n}\nthreshold += thresVal;\n\nlet forecast = flow.get(\"forecast\");\n\nlet message = time + status + moist + threshold + forecast;\n\nflow.set(\"send\", message);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1780,
        "wires": [
            [
                "f65a399ed125a812"
            ]
        ]
    },
    {
        "id": "1cc44e7c5ac507fb",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Get moisture value",
        "func": "msg.payload = flow.get(\"moisture\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1280,
        "wires": [
            [
                "59a1cee734b57f8d",
                "40da8a30caee4514"
            ]
        ]
    },
    {
        "id": "a28fd4947ffdd2f1",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Data Decoder",
        "func": "data = flow.get(\"receive\");\n\nflow.set(\"status\", parseInt(data[0]));\n\nlet moist = \"\";\nfor (let i = 1; i < (1 + 4); i++) {\n    moist += data[i];\n}\nflow.set(\"moisture\", parseInt(moist));\n\nlet threshold = \"\";\nfor (let i = 5; i < (4 + 4); i++) {\n    threshold += data[i];\n}\nflow.set(\"threshold\", parseInt(threshold));\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1600,
        "wires": [
            [
                "576ea4ac1769a623",
                "2ccb749f7f6ee800"
            ]
        ]
    },
    {
        "id": "2ccb749f7f6ee800",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "http",
        "mode": "link",
        "links": [
            "b43657a47f7e241d",
            "9a6e217d51abd2ef",
            "c8270456e0080dd9",
            "b397e77288f03c9e"
        ],
        "x": 955,
        "y": 1640,
        "wires": []
    },
    {
        "id": "b43657a47f7e241d",
        "type": "link in",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "links": [
            "2ccb749f7f6ee800"
        ],
        "x": 105,
        "y": 1280,
        "wires": [
            [
                "1cc44e7c5ac507fb"
            ]
        ]
    },
    {
        "id": "9a6e217d51abd2ef",
        "type": "link in",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "links": [
            "2ccb749f7f6ee800",
            "3234b2fec4eeda55"
        ],
        "x": 95,
        "y": 960,
        "wires": [
            [
                "ba0b84bdf4a93f03"
            ]
        ]
    },
    {
        "id": "7385e7c104fc1ad6",
        "type": "debug",
        "z": "a2b9fa7ac2cc48f7",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.rain",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "c3b3526ec855d69d",
        "type": "inject",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Default values",
        "props": [
            {
                "p": "payload.lat",
                "v": "10.8",
                "vt": "num"
            },
            {
                "p": "payload.lon",
                "v": "106.7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "8b5c3031932869f1"
            ]
        ]
    },
    {
        "id": "37b1fe375d91f81d",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Update Status",
        "mode": "link",
        "links": [
            "ea6a69e2b909d981"
        ],
        "x": 435,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ea6a69e2b909d981",
        "type": "link in",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "links": [
            "37b1fe375d91f81d",
            "5fbe989de1c20b72",
            "3f9f5ec1f83657b2"
        ],
        "x": 185,
        "y": 1780,
        "wires": [
            [
                "880a8965e8ba72fe"
            ]
        ]
    },
    {
        "id": "3f9f5ec1f83657b2",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Update Threshold",
        "mode": "link",
        "links": [
            "ea6a69e2b909d981"
        ],
        "x": 695,
        "y": 860,
        "wires": []
    },
    {
        "id": "5fbe989de1c20b72",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Update Weather",
        "mode": "link",
        "links": [
            "ea6a69e2b909d981"
        ],
        "x": 1195,
        "y": 480,
        "wires": []
    },
    {
        "id": "faf437b92ad4cbdc",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Formatter",
        "func": "let raw = flow.get(\"send\");\nlet fmt = \"\";\n\nfmt += \"Year: \" + raw[0] + raw[1] + \" || \";\nfmt += \"Month: \" + raw[2] + raw[3] + \" || \";\nfmt += \"Day: \" + raw[4] + raw[5] + \" || \";\nfmt += \"Hour: \" + raw[6] + raw[7] + \" || \";\nfmt += \"Minute: \" + raw[8] + raw[9] + \" || \";\nfmt += \"Second: \" + raw[10] + raw[11] + \" || \";\nfmt += \"Status: \" + raw[12] + \" || \";\nfmt += \"Moisture: \" + raw[13] + raw[14] + raw[15] + raw[16] + \" || \";\nfmt += \"Threshold: \" + raw[17] + raw[18] + raw[19] + raw[20] + \" || \";\nfmt += \"Forecast: \" + raw[21] + raw[22] + raw[23] + raw[24] + raw[25] + raw[26];\n\nmsg.payload = raw + \" || \" + fmt;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1820,
        "wires": [
            [
                "dd1e4832ab68e8cb"
            ]
        ]
    },
    {
        "id": "da1c49470fb176f5",
        "type": "link out",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Update Mode",
        "mode": "link",
        "links": [
            "b397e77288f03c9e"
        ],
        "x": 775,
        "y": 220,
        "wires": []
    },
    {
        "id": "098cf27f94d09f39",
        "type": "rbe",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Prevent Duplication",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 790,
        "y": 1780,
        "wires": [
            [
                "3ba5727a339e7771",
                "faf437b92ad4cbdc"
            ]
        ]
    },
    {
        "id": "3743cec558fdeabd",
        "type": "rbe",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Prevent Duplication",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "f1a75ce3bf5e21cd"
            ]
        ]
    },
    {
        "id": "f65a399ed125a812",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Exclude Timestamp",
        "func": "msg.payload = flow.get(\"send\").slice(12);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1780,
        "wires": [
            [
                "098cf27f94d09f39"
            ]
        ]
    },
    {
        "id": "498c4fefb97a97f9",
        "type": "comment",
        "z": "a2b9fa7ac2cc48f7",
        "name": "About http message format...",
        "info": "Note: [{Name-of-property}:{Number-of-character}]\n\nThe string receive from ESP (composed by Arduino) will follow the format:\n[Status:1][Moisture:4][Threshold:4]\n\nThe string to be sent to ESP and to save on cloud service:\n[Year:2][Month:2][Day:2][Hour:2][Min:2][Sec:2][Status:1][Moisture:4][Threshold:4][Forecast:6]",
        "x": 320,
        "y": 1480,
        "wires": []
    },
    {
        "id": "0e80cfe002dffaf2",
        "type": "ui_button",
        "z": "a2b9fa7ac2cc48f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Watering - Auto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "The watering cycle is used manually",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1920,
        "wires": [
            [
                "30048b553ae2b6a9"
            ]
        ]
    },
    {
        "id": "30048b553ae2b6a9",
        "type": "switch",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Check watering status",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 1920,
        "wires": [
            [
                "2cd760f9ac45bb72"
            ],
            [
                "239c69874d3b5254"
            ],
            [
                "d5056c75b7e0a348"
            ],
            [
                "b24e524bbe85cdae"
            ]
        ]
    },
    {
        "id": "2cd760f9ac45bb72",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto Idling",
        "func": "msg.payload = \"Watering cycle started automatically\";\n\nif (status == 1 || status ==3)\nflow.set(\"status\", 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "239c69874d3b5254",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto watering",
        "func": "msg.payload = \"A watering cycle is already in progress\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e87cc7313441a8",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto idling",
        "func": "msg.payload = \"Watering cycle is on with outdoor mode\"\n\nif (status == 1|| status == 3)\nflow.set(\"status\", 1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "16bab87c7c983ae0",
                "eabee56dba8a43c3"
            ]
        ]
    },
    {
        "id": "be5be124b3fb3429",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto watering",
        "func": "msg.payload = \"A watering cycle with outdoor mode is in progress\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "16bab87c7c983ae0"
            ]
        ]
    },
    {
        "id": "4cfe4012f40ca5c2",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto idling",
        "func": "msg.payload = \"No watering cycle with outdoor mode is on\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "16bab87c7c983ae0"
            ]
        ]
    },
    {
        "id": "175bf44dbee86d49",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Auto watering",
        "func": "msg.payload = \"The auto watering cycle is stopped\";\n\nif (status == 0 || status == 2)\nflow.set (\"status\", 0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 700,
        "wires": [
            [
                "16bab87c7c983ae0",
                "eabee56dba8a43c3"
            ]
        ]
    },
    {
        "id": "1a1c32e48269dbdb",
        "type": "change",
        "z": "a2b9fa7ac2cc48f7",
        "name": "stop auto watering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "3234b2fec4eeda55"
            ]
        ]
    },
    {
        "id": "7ea8777e58e1198a",
        "type": "change",
        "z": "a2b9fa7ac2cc48f7",
        "name": "start auto watering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "3234b2fec4eeda55"
            ]
        ]
    },
    {
        "id": "d5056c75b7e0a348",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Idling",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "b24e524bbe85cdae",
        "type": "function",
        "z": "a2b9fa7ac2cc48f7",
        "name": "Watering",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "70fb931.dfc146c",
        "type": "ui_group",
        "name": "Weather",
        "tab": "4bb34f67.69a87",
        "order": 4,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2c9d6d8312163b5",
        "type": "ui_group",
        "name": "Data",
        "tab": "4bb34f67.69a87",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1ed05e8d05a9e01",
        "type": "ui_group",
        "name": "Humidity Threshold",
        "tab": "4bb34f67.69a87",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bb34f67.69a87",
        "type": "ui_tab",
        "name": "CapstoneProject",
        "icon": "fa-thermometer-half",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]