flows.json
[
    {
        "id": "9b0c1273291d93f7",
        "type": "tab",
        "label": "CS105b Final",
        "disabled": false,
        "info": ""
    },
    {
        "id": "094110a497a8e250",
        "type": "ui_button",
        "z": "9b0c1273291d93f7",
        "name": "IconRefresh",
        "group": "70fb931.dfc146c",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh 4x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1370,
        "y": 280,
        "wires": [
            [
                "6c4f75b651766af3"
            ]
        ]
    },
    {
        "id": "f8d4376386478790",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 6,
        "width": 5,
        "height": "1",
        "name": "Description",
        "label": "",
        "format": "{{msg.payload.current.weather[0].description}}",
        "layout": "row-left",
        "className": "",
        "x": 1370,
        "y": 80,
        "wires": []
    },
    {
        "id": "3ddf79703e65a7d3",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 4,
        "width": 3,
        "height": "1",
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}",
        "layout": "col-center",
        "className": "",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "3f2c1252681fec02",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}",
        "layout": "row-center",
        "className": "",
        "x": 1370,
        "y": 200,
        "wires": []
    },
    {
        "id": "107bd806845e92de",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}",
        "layout": "row-center",
        "className": "",
        "x": 1370,
        "y": 240,
        "wires": []
    },
    {
        "id": "d0a39a71648e0b11",
        "type": "ui_template",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "name": "Forecast Info",
        "order": 8,
        "width": "10",
        "height": "2",
        "format": "<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: black;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: black;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: black;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d59c6bc5c773eeb6",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Format forecast data",
        "func": "var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '째F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '째C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "d0a39a71648e0b11"
            ]
        ]
    },
    {
        "id": "0251ac6fb717a189",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 3,
        "width": 2,
        "height": "1",
        "name": "Temperature",
        "label": "",
        "format": "<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>",
        "layout": "row-left",
        "className": "",
        "x": 1370,
        "y": 120,
        "wires": []
    },
    {
        "id": "51824d6e8b0fcea2",
        "type": "http request",
        "z": "9b0c1273291d93f7",
        "name": "Get OWM data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.openweathermap.org/data/2.5/onecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "9804a93fc2bca3dc",
                "d59c6bc5c773eeb6",
                "a34c6cef2ca12066"
            ]
        ]
    },
    {
        "id": "9804a93fc2bca3dc",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Format current data",
        "func": "var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' 째F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' 째C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\n\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "0251ac6fb717a189",
                "3ddf79703e65a7d3",
                "f8d4376386478790",
                "3f2c1252681fec02",
                "107bd806845e92de"
            ],
            [
                "094110a497a8e250"
            ]
        ]
    },
    {
        "id": "937047d38e099398",
        "type": "change",
        "z": "9b0c1273291d93f7",
        "name": "Settings",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "lat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "lon",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.appid",
                "pt": "msg",
                "to": "0db6fa33838afa1241b6964f8cbd1935",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.units",
                "pt": "msg",
                "to": "metric",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lang",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "hour24",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "units",
                "pt": "flow",
                "to": "payload.units",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lang",
                "pt": "flow",
                "to": "payload.lang",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.exclude",
                "pt": "msg",
                "to": "minutely",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "51824d6e8b0fcea2"
            ]
        ]
    },
    {
        "id": "1024d2c197e73a9e",
        "type": "ui_ui_control",
        "z": "9b0c1273291d93f7",
        "name": "Update tab",
        "events": "all",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "32d5ac1726583e0c"
            ]
        ]
    },
    {
        "id": "6c4f75b651766af3",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Refresh",
        "mode": "link",
        "links": [
            "fdceba1a037021a1"
        ],
        "x": 1495,
        "y": 280,
        "wires": []
    },
    {
        "id": "fdceba1a037021a1",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Refresh Forecast",
        "links": [
            "6c4f75b651766af3",
            "d647169b9c877ca7"
        ],
        "x": 525,
        "y": 300,
        "wires": [
            [
                "937047d38e099398"
            ]
        ]
    },
    {
        "id": "32d5ac1726583e0c",
        "type": "switch",
        "z": "9b0c1273291d93f7",
        "name": "Tab focus",
        "property": "tab",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "937047d38e099398"
            ]
        ]
    },
    {
        "id": "de69bac9e663bcbe",
        "type": "ui_button",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Start Watering",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Watering cycle started",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "8bffa424e6b36402"
            ]
        ]
    },
    {
        "id": "f461414b25902e9d",
        "type": "ui_text_input",
        "z": "9b0c1273291d93f7",
        "name": "",
        "label": "Set value",
        "tooltip": "",
        "group": "e1ed05e8d05a9e01",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "0f09801fa79923cb"
            ]
        ]
    },
    {
        "id": "8e52d924f29d1183",
        "type": "ui_gauge",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#e01b24",
            "#e6e600",
            "#3584e4"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ae430ce69486debe",
        "type": "ui_chart",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Soil Humidity Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#986a44",
            "#335684",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "57cfb3ed3ce4e46c",
        "type": "ui_button",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "e1ed05e8d05a9e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "threshold",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 980,
        "wires": [
            [
                "121baaef70db1aa9",
                "4b74de9faf661fa3"
            ]
        ]
    },
    {
        "id": "7f6d7f5b958faf84",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "f2c9d6d8312163b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b06fa0f501e81942",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Text Status",
        "func": "status = flow.get(\"status\");\n\nswitch(status) {\n    case 0:\n        msg.payload = \"Idling - Auto\";\n        break;\n    case 1:\n        msg.payload = \"Watering - Auto\";\n        break;\n    case 2:\n        msg.payload = \"Idling - Manual\";\n        break;\n    case 3:\n        msg.payload = \"Watering - Manual\";\n        break;\n    default:\n        msg.payload = \"Undefined state!\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1240,
        "wires": [
            [
                "7f6d7f5b958faf84"
            ]
        ]
    },
    {
        "id": "7535b9edc73cfae6",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Send to flow",
        "func": "const lat = msg.payload.lat;\nconst lon = msg.payload.lon;\n\nflow.set(\"lat\",lat);\nflow.set(\"lon\",lon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "937047d38e099398"
            ]
        ]
    },
    {
        "id": "7493ca379ac5d969",
        "type": "ui_form",
        "z": "9b0c1273291d93f7",
        "name": "",
        "label": "Set location (max 1 digit after decimal pt.)",
        "group": "70fb931.dfc146c",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Latitude",
                "value": "lat",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Longtitude",
                "value": "lon",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lat": "",
            "lon": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "7535b9edc73cfae6",
                "2bf192c139575a1b",
                "3e051b92aaacc226"
            ]
        ]
    },
    {
        "id": "0f09801fa79923cb",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set threshold",
        "func": "flow.set(\"threshold\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "e699c09cfc59b37a",
        "type": "ui_chart",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Watering Log",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "4",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#335684",
            "#335684",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "e08188d0ca06cfe7",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Visual",
        "info": "",
        "x": 130,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f3ef7b8c8bb80c31",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Set Threshold",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "c3067c4c87771c55",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Weather Forecast",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "454df20cee63b5a3",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Status Setters",
        "info": "",
        "x": 150,
        "y": 540,
        "wires": []
    },
    {
        "id": "121baaef70db1aa9",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "e1ed05e8d05a9e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 980,
        "wires": []
    },
    {
        "id": "8f0aa03260f4669c",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Digit Status",
        "func": "msg.payload = flow.get(\"status\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "e699c09cfc59b37a"
            ]
        ]
    },
    {
        "id": "2bf192c139575a1b",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current latitude",
        "format": "{{msg.payload.lat}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "3e051b92aaacc226",
        "type": "ui_text",
        "z": "9b0c1273291d93f7",
        "group": "70fb931.dfc146c",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current longtitude",
        "format": "{{msg.payload.lon}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "a34c6cef2ca12066",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set forecast string",
        "func": "let forecast = \"\";\n\nif (flow.get(\"outdoor\") == 1) {\n    for (let i = 1; i <= 6; i++) {\n        if (msg.payload.hourly[i].weather[0].main == \"Rain\") {\n            forecast += \"1\";\n        } else {\n            forecast += \"0\";\n        }\n    }\n} else {\n    forecast = \"000000\"\n}\n\nflow.set(\"forecast\", forecast);\n\nmsg.payload.rain = forecast;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 420,
        "wires": [
            [
                "aa10f97e86934cf8",
                "22414299486de239"
            ]
        ]
    },
    {
        "id": "9a13c5d1d9b5390e",
        "type": "ui_switch",
        "z": "9b0c1273291d93f7",
        "name": "",
        "label": "Outdoor",
        "tooltip": "Turn on to switch to outdoor mode which take weather forecast into account",
        "group": "70fb931.dfc146c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "31d44ae426459fc8"
            ]
        ]
    },
    {
        "id": "31d44ae426459fc8",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set mode",
        "func": "if (msg.payload == true) {\n    flow.set(\"outdoor\", 1);\n} else {\n    flow.set(\"outdoor\", 0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "937047d38e099398"
            ]
        ]
    },
    {
        "id": "4726a5992c88aea7",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "README",
        "info": "If outdoor then weather forecast will be taking into account when deciding to activate watering system.\nElse forecast will be set to \"000000\".",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "e4efe31cddeacbf1",
        "type": "switch",
        "z": "9b0c1273291d93f7",
        "name": "Set message",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "10df2a555a0d1316",
                "6156a7a0fea8fa40"
            ],
            [
                "3711796cb5a640e0",
                "29b0520f338bd2bb"
            ],
            [
                "a827e381071ddcf9"
            ],
            [
                "8cc2f3b8c3626335"
            ]
        ]
    },
    {
        "id": "6753e3bc607d4c86",
        "type": "ui_button",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop Watering",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Watering cycle stopped",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "7750707a366af44c"
            ]
        ]
    },
    {
        "id": "52c54ad1c027161e",
        "type": "ui_toast",
        "z": "9b0c1273291d93f7",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Popup",
        "x": 1210,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8e9282770d1b684e",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Manual Trigger",
        "mode": "link",
        "links": [
            "5335dc61bc152208",
            "e403c61c43792e8c"
        ],
        "x": 555,
        "y": 720,
        "wires": []
    },
    {
        "id": "f2e5901784977bf3",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Get moisture value",
        "func": "msg.payload = flow.get(\"moisture\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1380,
        "wires": [
            [
                "8e52d924f29d1183",
                "ae430ce69486debe",
                "5770ba5539a6d7ab"
            ]
        ]
    },
    {
        "id": "d647169b9c877ca7",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Received from Wokwi",
        "mode": "link",
        "links": [
            "5335dc61bc152208",
            "ec584b0285cba064",
            "f431ca3c52edd840",
            "fdceba1a037021a1",
            "76302fba7e4ca2c3"
        ],
        "x": 965,
        "y": 1880,
        "wires": []
    },
    {
        "id": "f431ca3c52edd840",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Moisture",
        "links": [
            "454a0b9cdf54d603",
            "4b74de9faf661fa3",
            "d647169b9c877ca7"
        ],
        "x": 105,
        "y": 1380,
        "wires": [
            [
                "f2e5901784977bf3"
            ]
        ]
    },
    {
        "id": "5335dc61bc152208",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Status Receiver",
        "links": [
            "454a0b9cdf54d603",
            "8e9282770d1b684e",
            "d647169b9c877ca7"
        ],
        "x": 105,
        "y": 1260,
        "wires": [
            [
                "b06fa0f501e81942",
                "8f0aa03260f4669c"
            ]
        ]
    },
    {
        "id": "aa10f97e86934cf8",
        "type": "debug",
        "z": "9b0c1273291d93f7",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.rain",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 460,
        "wires": []
    },
    {
        "id": "e403c61c43792e8c",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Send to Wokwi",
        "links": [
            "22414299486de239",
            "c1eea94e5c0d93be",
            "4b74de9faf661fa3",
            "8e9282770d1b684e"
        ],
        "x": 265,
        "y": 2020,
        "wires": [
            [
                "5774708ba4c97043"
            ]
        ]
    },
    {
        "id": "4b74de9faf661fa3",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Update Threshold",
        "mode": "link",
        "links": [
            "e403c61c43792e8c",
            "f431ca3c52edd840"
        ],
        "x": 795,
        "y": 1020,
        "wires": []
    },
    {
        "id": "22414299486de239",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Update Forecast",
        "mode": "link",
        "links": [
            "e403c61c43792e8c"
        ],
        "x": 1315,
        "y": 420,
        "wires": []
    },
    {
        "id": "12b0120dab4927b7",
        "type": "ui_button",
        "z": "9b0c1273291d93f7",
        "name": "",
        "group": "f2c9d6d8312163b5",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auto Watering",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "The watering cycle is used manually",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "2ffecfcb93f1ac99"
            ]
        ]
    },
    {
        "id": "a827e381071ddcf9",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "M - I",
        "func": "msg.payload = \"Switched to manual. Currently idling.\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 700,
        "wires": [
            [
                "a5069e9d3c8a52c4"
            ]
        ]
    },
    {
        "id": "8cc2f3b8c3626335",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "M - W",
        "func": "msg.payload = \"Switched to manual. Currently  watering.\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 740,
        "wires": [
            [
                "a5069e9d3c8a52c4"
            ]
        ]
    },
    {
        "id": "8bffa424e6b36402",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set flow.status",
        "func": "flow.set(\"status\", 3);\n\nmsg.payload = flow.get(\"status\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "e4efe31cddeacbf1",
                "8e9282770d1b684e"
            ]
        ]
    },
    {
        "id": "7750707a366af44c",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set flow.status",
        "func": "flow.set(\"status\", 2);\n\nmsg.payload = flow.get(\"status\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "e4efe31cddeacbf1",
                "8e9282770d1b684e"
            ]
        ]
    },
    {
        "id": "2ffecfcb93f1ac99",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Set flow.status",
        "func": "current = flow.get(\"status\");\n\nif (current == 0 || current == 2) {\n    flow.set(\"status\", 0);\n}\n\nelse {\n    flow.set(\"status\", 1);\n}\n\nmsg.payload = flow.get(\"status\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 760,
        "wires": [
            [
                "e4efe31cddeacbf1",
                "8e9282770d1b684e"
            ]
        ]
    },
    {
        "id": "10df2a555a0d1316",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "A - I",
        "func": "msg.payload = \"Switched to auto. Currently idling.\"\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 540,
        "wires": [
            [
                "a5069e9d3c8a52c4"
            ]
        ]
    },
    {
        "id": "3711796cb5a640e0",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "A - W",
        "func": "msg.payload = \"Switched to auto. Currently watering.\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 620,
        "wires": [
            [
                "a5069e9d3c8a52c4"
            ]
        ]
    },
    {
        "id": "6156a7a0fea8fa40",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "A-I Noti",
        "func": "flow.set(\"noti\", \"Watering cycle stopped automatically.\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "32e4524255f04fd6"
            ]
        ]
    },
    {
        "id": "32e4524255f04fd6",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Send Status Noti",
        "mode": "link",
        "links": [
            "e43d13d4ec54d3de"
        ],
        "x": 955,
        "y": 620,
        "wires": []
    },
    {
        "id": "29b0520f338bd2bb",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "A-W Noti",
        "func": "flow.set(\"noti\", \"Watering cycle started automatically.\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 660,
        "wires": [
            [
                "32e4524255f04fd6"
            ]
        ]
    },
    {
        "id": "e43d13d4ec54d3de",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Send Noti",
        "links": [
            "32e4524255f04fd6",
            "1f97d3c6a27d7f09"
        ],
        "x": 105,
        "y": 1560,
        "wires": [
            [
                "7ac03ea34a990c3a"
            ]
        ]
    },
    {
        "id": "cd3e7e0953e79efb",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Wokwi",
        "info": "",
        "x": 130,
        "y": 1720,
        "wires": []
    },
    {
        "id": "99036c08c5de9ddd",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Receive incoming string from Wokwi",
        "info": "",
        "x": 310,
        "y": 1780,
        "wires": []
    },
    {
        "id": "7c57ca633ea0c0e8",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Send data to Wokwi",
        "info": "",
        "x": 250,
        "y": 1980,
        "wires": []
    },
    {
        "id": "caf6fb2ff21e4944",
        "type": "inject",
        "z": "9b0c1273291d93f7",
        "name": "Receiving",
        "props": [
            {
                "p": "payload.data",
                "v": "106270500",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 1820,
        "wires": [
            [
                "e67582064e113d0e"
            ]
        ]
    },
    {
        "id": "2e0c72e949c6057d",
        "type": "inject",
        "z": "9b0c1273291d93f7",
        "name": "Sending",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 2060,
        "wires": [
            [
                "5774708ba4c97043"
            ]
        ]
    },
    {
        "id": "68a62ea287347519",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Sender",
        "func": "msg.payload = flow.get(\"send\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 2020,
        "wires": [
            [
                "31a66115e4abb7ed"
            ]
        ]
    },
    {
        "id": "ef0b4c6ad8ece0b6",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Receiver",
        "func": "// Format: [Status:1][Moisture:4][Threshold:4]\n\nflow.set(\"receive\", msg.payload.data);\n\nmsg.payload = msg.payload.data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1860,
        "wires": [
            [
                "3e1023f57b1cc2a1"
            ]
        ]
    },
    {
        "id": "96e9ede4636960f7",
        "type": "debug",
        "z": "9b0c1273291d93f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 2060,
        "wires": []
    },
    {
        "id": "391bf12e1ae84bb4",
        "type": "debug",
        "z": "9b0c1273291d93f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1840,
        "wires": []
    },
    {
        "id": "5774708ba4c97043",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Data Encoder",
        "func": "// Format: [Year:2][Month:2][Day:2][Hour:2][Min:2][Sec:2][Status:1][Moisture:4][Threshold:4][Forecast:6][Latitude:4][Longtitude:4]                \n\nconst isoStr = new Date().toLocaleString('en-GB', { timeZone: 'Asia/Singapore' });\n\nlet encoded = \"\";\n\nlet time = isoStr[8] + isoStr[9] +      // year\n            isoStr[3] + isoStr[4] +     // month\n            isoStr[0] + isoStr[1] +     // day\n            isoStr[12] + isoStr[13] +   // hour\n            isoStr[15] + isoStr[16] +   // min\n            isoStr[18] + isoStr[19];    // sec\n\nlet status = flow.get(\"status\");\n\nlet moistVal = flow.get(\"moisture\");\nlet moist = \"\";\nif (moistVal < 1000) {\n    moist += \"0\";\n    if (moistVal < 100) {\n        moist += \"0\";\n        if (moistVal < 10) {\n            moist += \"0\";\n        }\n    }\n}\nmoist += moistVal;\n\nlet thresVal = flow.get(\"threshold\");\nlet threshold = \"\";\nif (thresVal < 1000) {\n    threshold += \"0\";\n    if (thresVal < 100) {\n        threshold += \"0\";\n        if (thresVal < 10) {\n            threshold += \"0\";\n        }\n    }\n}\nthreshold += thresVal;\n\nlet forecast = flow.get(\"forecast\");\n\nlet lat_f = parseFloat(flow.get(\"lat\"));\nlet lat = \"\";\nif (lat_f < 100) {\n    lat += \"0\";\n}\nlat += lat_f.toString();\nlat = lat.substring(0, 3) + lat.substring(4, 5);\n\nlet lon_f = parseFloat(flow.get(\"lon\"));\nlet lon = \"\";\nif (lon_f < 100) {\n    lon += \"0\";\n    if (lat_f < 10) {\n        lat += \"0\";\n    }\n}\nlon += lon_f.toString();\nlon = lon.substring(0, 3) + lon.substring(4, 5);\n\nlet message = time + status + moist + threshold + forecast + lat + lon;\n\nflow.set(\"send\", message);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2040,
        "wires": [
            [
                "b1aee1b8674b2b72"
            ]
        ]
    },
    {
        "id": "3e1023f57b1cc2a1",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Data Decoder",
        "func": "data = flow.get(\"receive\");\n\nflow.set(\"status\", parseInt(data[0]));\n\nlet moist = \"\";\nfor (let i = 1; i < (1 + 4); i++) {\n    moist += data[i];\n}\nflow.set(\"moisture\", parseInt(moist));\n\nlet threshold = \"\";\nfor (let i = 5; i < (5 + 4); i++) {\n    threshold += data[i];\n}\nflow.set(\"threshold\", parseInt(threshold));\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1860,
        "wires": [
            [
                "391bf12e1ae84bb4",
                "d647169b9c877ca7"
            ]
        ]
    },
    {
        "id": "4d46ab7eaf0646a5",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Formatter",
        "func": "let raw = flow.get(\"send\");\nlet fmt = \"\";\n\nfmt += \"Year: \" + raw[0] + raw[1] + \" || \";\nfmt += \"Month: \" + raw[2] + raw[3] + \" || \";\nfmt += \"Day: \" + raw[4] + raw[5] + \" || \";\nfmt += \"Hour: \" + raw[6] + raw[7] + \" || \";\nfmt += \"Minute: \" + raw[8] + raw[9] + \" || \";\nfmt += \"Second: \" + raw[10] + raw[11] + \" || \";\nfmt += \"Status: \" + raw[12] + \" || \";\nfmt += \"Moisture: \" + raw[13] + raw[14] + raw[15] + raw[16] + \" || \";\nfmt += \"Threshold: \" + raw[17] + raw[18] + raw[19] + raw[20] + \" || \";\nfmt += \"Forecast: \" + raw[21] + raw[22] + raw[23] + raw[24] + raw[25] + raw[26] + \" || \";\nfmt += \"Latitude: \" + raw[27] + raw[28] + raw[29] + \".\" + raw[30] + \" || \";\nfmt += \"Longtitude: \" + raw[31] + raw[32] + raw[33] + \".\" + raw[34];\n\nmsg.payload = raw + \" || \" + fmt;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 2060,
        "wires": [
            [
                "96e9ede4636960f7"
            ]
        ]
    },
    {
        "id": "ef956c7a73c77096",
        "type": "rbe",
        "z": "9b0c1273291d93f7",
        "name": "Prevent Duplication",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 870,
        "y": 2040,
        "wires": [
            [
                "68a62ea287347519",
                "4d46ab7eaf0646a5"
            ]
        ]
    },
    {
        "id": "b1aee1b8674b2b72",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Exclude Timestamp",
        "func": "msg.payload = flow.get(\"send\").slice(12);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2040,
        "wires": [
            [
                "ef956c7a73c77096"
            ]
        ]
    },
    {
        "id": "4dbe76b31ccea9a5",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "About http message format...",
        "info": "Note: [{Name-of-property}:{Number-of-character}]\n\nThe string receive from ESP (composed by Arduino) will follow the format:\n[Status:1][Moisture:4][Threshold:4]\n\nThe string to be sent to ESP and to save on cloud service:\n[Year:2][Month:2][Day:2][Hour:2][Min:2][Sec:2][Status:1][Moisture:4][Threshold:4][Forecast:6][Latitude:4][Longtitude:4]",
        "x": 300,
        "y": 1720,
        "wires": []
    },
    {
        "id": "32edbdeb55d9cd39",
        "type": "mqtt in",
        "z": "9b0c1273291d93f7",
        "name": "",
        "topic": "030927",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f5316d24e3d53962",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1900,
        "wires": [
            [
                "e67582064e113d0e"
            ]
        ]
    },
    {
        "id": "31a66115e4abb7ed",
        "type": "mqtt out",
        "z": "9b0c1273291d93f7",
        "name": "",
        "topic": "030927-cb",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5316d24e3d53962",
        "x": 1290,
        "y": 2020,
        "wires": []
    },
    {
        "id": "e67582064e113d0e",
        "type": "rbe",
        "z": "9b0c1273291d93f7",
        "name": "Prevent Duplication",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.data",
        "topi": "topic",
        "x": 460,
        "y": 1860,
        "wires": [
            [
                "ef0b4c6ad8ece0b6"
            ]
        ]
    },
    {
        "id": "565f9ad58d82936f",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "TODO: Receive and send flow.send to cloud",
        "info": "",
        "x": 250,
        "y": 2200,
        "wires": []
    },
    {
        "id": "80c152e59b724d49",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "Cloud Database",
        "info": "",
        "x": 160,
        "y": 2160,
        "wires": []
    },
    {
        "id": "a8ac88104ba4f67b",
        "type": "rbe",
        "z": "9b0c1273291d93f7",
        "name": "Prevent Duplication",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 1560,
        "wires": [
            [
                "a05298760ba68bb2",
                "efda706e29671abf"
            ]
        ]
    },
    {
        "id": "5770ba5539a6d7ab",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Moisture noti",
        "func": "moisture = parseInt(flow.get(\"moisture\"));\nthreshold = parseInt(flow.get(\"threshold\"));\nnotiMsg = \"\";\n\nif (moisture < (threshold - 200)) {\n    notiMsg = \"Current soil moisture is too dry, currently at \" + moisture + \".\";\n}\n\nelse if (moisture > (threshold + 200)) {\n    notiMsg = \"Current soil is too wet, currently at \" + moisture + \".\";\n}\n\nelse return;\n\nflow.set(\"noti\", notiMsg);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1340,
        "wires": [
            [
                "1f97d3c6a27d7f09"
            ]
        ]
    },
    {
        "id": "1f97d3c6a27d7f09",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Send Moisture Noti",
        "mode": "link",
        "links": [
            "e43d13d4ec54d3de"
        ],
        "x": 625,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ec584b0285cba064",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Threshold Receiver",
        "links": [
            "d647169b9c877ca7"
        ],
        "x": 505,
        "y": 1020,
        "wires": [
            [
                "01ff9592bdd99ef5"
            ]
        ]
    },
    {
        "id": "76302fba7e4ca2c3",
        "type": "link in",
        "z": "9b0c1273291d93f7",
        "name": "Trigger Status Msg",
        "links": [
            "d647169b9c877ca7"
        ],
        "x": 425,
        "y": 840,
        "wires": [
            [
                "e4efe31cddeacbf1"
            ]
        ]
    },
    {
        "id": "01ff9592bdd99ef5",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Get threshold",
        "func": "msg.payload = flow.get(\"threshold\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "121baaef70db1aa9",
                "4b74de9faf661fa3"
            ]
        ]
    },
    {
        "id": "a05298760ba68bb2",
        "type": "debug",
        "z": "9b0c1273291d93f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6ffdfc4ea2194a9e",
        "type": "inject",
        "z": "9b0c1273291d93f7",
        "name": "Auto update UI",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "454a0b9cdf54d603"
            ]
        ]
    },
    {
        "id": "454a0b9cdf54d603",
        "type": "link out",
        "z": "9b0c1273291d93f7",
        "name": "Update UI",
        "mode": "link",
        "links": [
            "5335dc61bc152208",
            "f431ca3c52edd840"
        ],
        "x": 455,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7ac03ea34a990c3a",
        "type": "function",
        "z": "9b0c1273291d93f7",
        "name": "Get noti message",
        "func": "msg.payload = flow.get(\"noti\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1560,
        "wires": [
            [
                "a8ac88104ba4f67b"
            ]
        ]
    },
    {
        "id": "f27db71460c6976d",
        "type": "comment",
        "z": "9b0c1273291d93f7",
        "name": "IFTTT Notification",
        "info": "",
        "x": 170,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a5069e9d3c8a52c4",
        "type": "rbe",
        "z": "9b0c1273291d93f7",
        "name": "Prevent Duplication",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "52c54ad1c027161e"
            ]
        ]
    },
    {
        "id": "345253a5cdd6972d",
        "type": "inject",
        "z": "9b0c1273291d93f7",
        "name": "Receiving",
        "props": [
            {
                "p": "payload.data",
                "v": "006270500",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 1860,
        "wires": [
            [
                "e67582064e113d0e"
            ]
        ]
    },
    {
        "id": "65f5c3923d390ca3",
        "type": "inject",
        "z": "9b0c1273291d93f7",
        "name": "Default values",
        "props": [
            {
                "p": "payload.lat",
                "v": "10.8",
                "vt": "num"
            },
            {
                "p": "payload.lon",
                "v": "106.7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "7535b9edc73cfae6"
            ]
        ]
    },
    {
        "id": "efda706e29671abf",
        "type": "http request",
        "z": "9b0c1273291d93f7",
        "d": true,
        "name": "Send Notification to IFTTT",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/sendNoti/with/key/bhOzf6xFA27TkoIVgIXzIa?value1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 810,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "70fb931.dfc146c",
        "type": "ui_group",
        "name": "Weather",
        "tab": "4bb34f67.69a87",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2c9d6d8312163b5",
        "type": "ui_group",
        "name": "Data",
        "tab": "4bb34f67.69a87",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1ed05e8d05a9e01",
        "type": "ui_group",
        "name": "Ng튼沼ng k챠ch ho梳t b퉤m",
        "tab": "4bb34f67.69a87",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5316d24e3d53962",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4bb34f67.69a87",
        "type": "ui_tab",
        "name": "Capstone Project",
        "icon": "fa-thermometer-half",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
